/*
CSS Document and design created by Jesse Rodgers, jrodgers@alumni.uwaterloo.ca, as part of the
UW Global XHTML/CSS template.

This style sheet controls the two column layout.

Copyright 2005 University of Waterloo, Communications and Public Affairs
*/

/* You may copy any part of this file */

/* version 1.1, August 8, 2005 http://web.uwaterloo.ca/documentation/clforgeeks/v1p1.html */
/* W3 valid CSS */

#primarycontarea {
	margin-left: 170px;
	margin-top: 3px;
	width: 589px;
	voice-family: "\"}\""; 
    voice-family:inherit;
	width: 588px;
	}
html>body #primarycontarea {
	width: 588px;
	}	
#primarycontent {
	font-size: 70%;
	padding: 7px 10px 10px 10px;
	border: 0px solid #ccc;
	}
	
